.header {
  background-image: url("data:image/svg+xml,%3Csvg id='header' width='200' height='200' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='100' r='100' fill='%23FFAB08'/%3E%3C/svg%3E");
  background-size: 611px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 24px 0 30px;
  margin-bottom: 30px;

  &__title-container {
    padding-bottom: 248px;
    background: url('/images/pic.svg') bottom/227px no-repeat;
    text-align: center;
    color: var(--white);
  }

  &__logo {
    width: 150px;
    margin: 0 auto 24px;
    color: var(--white);
  }

  &__title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 480px) {
  .header {
    background-size: 1400px;
    padding-bottom: 44px;

    &__container {
      max-width: 480px;
    }

    &__title-container {
      padding-bottom: 0;
      padding-left: 180px;
      padding-top: 27px;
      text-align: left;
      background-position: left;
      background-size: contain;
      min-height: 190px;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-size: 2540px;

    &__container {
      max-width: calc(562 + var(--padding-container) * 2);
    }

    &__title-container {
      padding-left: 237px;
      min-height: 229px;
    }

    &__title {
      font-size: 36px;
      margin-bottom: 26px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-size: 2880px;
    padding-bottom: 63px;
    margin-bottom: 40px;

    &__container {
      max-width: calc(764px + var(--padding-container) * 2);
    }

    &__title-container {
      padding-top: 46px;
      padding-left: 326px;
      min-height: 326px;
    }

    &__title {
      font-size: 50px;
      margin-bottom: 52px;
    }

    &__text {
      font-style: 16px;
      line-height: 22px;
    }
  }
}

@media screen and (min-width: 1360px) {
  .header {
    background-size: 2880px;
    padding-bottom: 63px;
    margin-bottom: 40px;

    &__container {
      max-width: calc(784px + var(--padding-container) * 2);
    }

    &__title-container {
      padding-left: 346px;
    }
  }
}
